<div id="<%= dom_id poke %>">
  <p>
    <strong>Name:</strong>
    <%= poke.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= poke.url %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= poke.category %>
  </p>

</div>
