<div id="<%= dom_id color %>">

<div id="yesrender">
  <p>
    <strong>Name:</strong>
    <%= color.name %>
  </p>
</div>

<div id="norender">
  <p>
    <strong>Value:</strong>
    <%= color.value %>
  </p>

</div>

</div>
