<h1>Editing wheelcolor</h1>

<%= render "form", wheelcolor: @wheelcolor %>

<br>

<div>
  <%= link_to "Show this wheelcolor", @wheelcolor %> |
  <%= link_to "Back to wheelcolors", wheelcolors_path %>
</div>
